body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.image{
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    transform:scale(0.75);
    transition: 1s;
}

.image:hover{
    transition: 0.3s;
    transform:scale(1);
}

.image-wrap{
    width: 25%;
    overflow: hidden;
    transition: 1s;
}

.image-wrap:hover{
    transition: 1s;
}


.image-zoom{
    top: 10%;
    position: fixed;
    display: block;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
}

.image-zoom-background{
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    transition: 1s;
}

@keyframes zoom-background{
    0%{}
    100%{}
}