body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image{
    width: 10%;
    height: 450px;
    object-fit: cover;
    position: relative;
}

.image:hover{
transform:scale(2)
}
