body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.image{
    height: 500px;
    width: 100%;
    object-fit: cover;
    position: relative;
    transform:scale(0.75);
    transition: 1s;
}

.image:hover{
    transition: 0.3s;
    transform:scale(1);
}

.image-wrap{
    width: 25%;
    overflow: hidden;
    transition: 1s;
}

.image-wrap:hover{
    transition: 1s;
}


.image-zoom{
    top: 5%;
    position: fixed;
    width: 90%;
    height: 800px;
    margin:auto;
}