body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.image{
    height: 500px;
    width: 100%;
    position: relative;
    transform: skew(-30deg);
    transition: 1s;
}

.image:hover{
    transition: 1s;
    transform: rotate(0deg);
}

.image-wrap{
    transform: skew(30deg);
    overflow: hidden;
    width: 25%;
    transition: 1s;
}

.image-wrap:hover{
    transition: 1s;
    transform: rotate(0deg);
}


