body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 2;
}

.image{
    max-width: 10%;
    min-width: 5%;
    height: 450px;
    object-fit: cover;
    position: relative;
    flex-basis: 25%;
}

.image:hover{
    margin: 2vmin;
    transition: 1s;
}
