body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image{
    width: 10%;
    height: 250px;
    object-fit: cover;
    position: relative;
    outline: 0.5vmin black solid;
}

