body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.image{
    height: 500px;
    position: relative;
    transform:scale(0.5);
    transition: 1s;
}

.image:hover{
    transition: 1s;
    transform:scale(1);
}

.image-wrap{
    overflow: hidden;
    width: 25%;
    transition: 1s;
}

.image-wrap:hover{
    transition: 1s;
}


