body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image{
    width: 33,333%;
    height: 300px;
    object-fit: cover;
}