body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image{
    object-fit: contain;
    position: relative;
}

.image:hover{
    transition: 1s;
}
