body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image{
    width: 33.33%;
    height: 500px;
    object-fit: cover;
    position: relative;
}

.image:hover{
    transition: 1s;
}
