body {
  background-color: black;
  margin-bottom: 10vmin;
  animation: 5s body;
  overflow-x: hidden;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes body {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

.title {
  text-align: center;
  color: rgb(159, 159, 159);
  font-size: 6vmin;
  margin: 5vmin;
  margin-bottom: 10vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer {
  text-align: center;
  color: rgb(159, 159, 159);
  font-size: 3vmin;
  margin: 5vmin;
  margin-bottom: 15vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  height: 350px;
  width: 32%;
  margin: 0.5%;
  object-fit: cover;
  position: relative;
  transform: scale(0.9);
  filter: blur(3px);
  animation: 1s;
}



.imageLoading{
  transform: scale(0.9); 
  filter:blur(0px);
  transition: 1s;
}

.image-zoom {
  top: 5%;
  position: fixed;
  display: block;
  height: 600px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  animation: 1s image-zoom;
  box-shadow: 0px 0px 40px black;
}

@keyframes image-zoom {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.image-zoom-thumbnail {
  position: relative;
  display: block;
  height: 100px;
  width: 100px;
  object-fit: cover;
  animation: 1s image-zoom-thumbnail;
  margin: 0.5vmin;
  filter: opacity(0.6);
  transition: 1s;
}


@keyframes image-zoom-thumbnail {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0.6);
  }
}

.image-zoom-thumbnail:hover {
  filter: opacity(1);
  transition: 1s;
}

.thumbnail-container {
  position: fixed;
  display: flex;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

}

.image-zoom-background {
  top: 0%;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  animation: zoom-background 1s forwards;
  animation-delay: 0.25s;
  z-index: 3;
  left: 0%;
}

@keyframes zoom-background {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (max-width: 800px) {
  .image {
    height: 400px;
    width: 100%;
    margin: 0%;
    object-fit: cover;
    position: relative;
    transform: scale(0.9);
    animation: 1s;
  }

  .image-zoom {
    top: 5%;
    position: fixed;
    display: block;
    height: 600px;
    left: 0%;
    transform: translateX(0%);
    object-fit: cover;
    animation: 1s image-zoom;
    width: 90%;
    left: 5%;
  }

  .thumbnail-container {
    position: fixed;
    display: flex;
    bottom: 7%;
    left: 2.5%;
    transform: translateX(0%);
    width: 95%;
  }

  .image-zoom-thumbnail {
    position: relative;
    display: block;
    height: 100px;
    width: 19%;
    object-fit: cover;
    animation: 1s image-zoom-thumbnail;
    margin: 0.5%;
    filter: opacity(1);
    transition: 1s;
  }

  .image:nth-child(n) {
    transform: rotate(0deg) scale(1);
    transition: 1s;
    filter: blur(0px);
  }
}
