body{
    background-color: black;
}

.image-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.image{
    height: 500px;
    object-fit: contain;
    position: relative;
}

.image:hover{
    transition: 1s;
}
