body{
    background-color: black;
    margin-bottom: 10vmin;
    animation: 5s body;
    overflow-X: hidden;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes body{
    0%{filter:brightness(0);}
    100%{filter: brightness(1);}
}

.title{
    text-align: center;
    color: rgb(76, 76, 76);
    font-size: 6vmin;
    margin: 5vmin;
}

.image-container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.image{
    height: 400px;
    width: 23%;
    margin: 1%;
    object-fit: cover;
    position: relative;
    transform:scale(1);
    animation: 1s;
}

.image:hover{
    animation: 0.7s image-hover 1;
}


@keyframes image-hover{
    0% {transform: rotate(-2.5deg);}
    25% {transform: rotate(2.5deg);}
    50% {transform: rotate(-2.5deg);}
    75% {transform: rotate(0.5deg);}
    100% {transform: rotate(-0.5deg);}
}


.image-zoom{
    top: 10%;
    position: fixed;
    display: block;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
    animation: 1s image-zoom;
}

@keyframes image-zoom{
    0%{filter: opacity(0);}
    100%{filter: opacity(1);}
}

.image-zoom-background{
    top: 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    animation: zoom-background 1s forwards;
    animation-delay: 0.25s;
}

@keyframes zoom-background{
    0%{background-color: rgba(0, 0, 0, 0);}
    100%{background-color: rgba(0, 0, 0, 0.7);}
}