body {
  background-color: black;
  margin-bottom: 10vmin;
  animation: 5s body;
  overflow-x: hidden;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes body {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}

.title {
  text-align: center;
  color: rgb(159, 159, 159);
  font-size: 6vmin;
  margin: 5vmin;
  margin-bottom: 10vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer {
  text-align: center;
  color: rgb(159, 159, 159);
  font-size: 3vmin;
  margin: 5vmin;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wallpaper{
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  height: 350px;
  width: 33%;
  margin: 0.1655%;
  object-fit: cover;
  position: relative;
  filter: blur(25px);
  animation: 2s;
}

.image:nth-child(2n):hover, .image:nth-child(2n-1):hover{
  outline: 1px solid white;
  transition-delay: 0;
  transition: 0.3s;
}

.image:nth-child(2n){
  transform: scale(1.5) rotate(-30deg);
}

.image:nth-child(2n-1){
  transform: scale(1.5) rotate(30deg);
}

.imageLoading:nth-child(2n){
  transform: scale(1) rotate(0deg);
  filter:blur(0px);
  transition: 1s;
  transition-delay: 0s;
}

.imageLoading:nth-child(2n-1){
  transform: scale(1) rotate(0deg);
  filter:blur(0px);
  transition: 1s;
  transition-delay: 0.3s;
}

.image-zoom {
  top: 5%;
  position: fixed;
  display: block;
  height: 600px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  animation: 1s image-zoom;
  box-shadow: 0px 0px 40px black;
}

.image-zoom:hover{
  outline: 1px solid red;
  transition-delay: 0;
  transition: 0.3s;
}

@keyframes image-zoom {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.image-zoom-thumbnail {
  position: relative;
  display: block;
  height: 100px;
  width: 100px;
  object-fit: cover;
  animation: 1s image-zoom-thumbnail;
  margin: 0.5vmin;
  filter: opacity(0.6);
  transition: 1s;
}


@keyframes image-zoom-thumbnail {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(0.6);
  }
}

.image-zoom-thumbnail:hover {
  filter: opacity(1);
  transition: 0.3s;
  outline: 1px solid white;
}

.thumbnail-container {
  position: fixed;
  display: flex;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;

}

.image-zoom-background {
  top: 0%;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  animation: zoom-background 1s forwards;
  animation-delay: 0.25s;
  z-index: 3;
  left: 0%;
}

@keyframes zoom-background {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (max-width: 800px) {
  .image {
    height: 400px;
    width: 100%;
    margin: 0%;
    margin-bottom: 25vmin;
    object-fit: cover;
    position: relative;
    transform: scale(0.9);
    animation: 1s;
  }

  .image:nth-child(2n){
    transform: scale(1) rotate(0deg);
  }
  
  .image:nth-child(2n-1){
    transform: scale(1) rotate(0deg);
  }
  
  .imageLoading:nth-child(2n){
    transform: scale(1) rotate(0deg);
    filter:blur(0px);
    transition: 1s;
    transition-delay: 0s;
  }
  
  .imageLoading:nth-child(2n-1){
    transform: scale(1) rotate(0deg);
    filter:blur(0px);
    transition: 1s;
    transition-delay: 0s;
  }

  .image-zoom {
    top: 5%;
    position: fixed;
    display: block;
    height: 70%;
    object-fit: cover;
    animation: 1s image-zoom;
    width: 90%;
    left: 5%;
    transform: translateX(0%);
  }

  .thumbnail-container {
    position: fixed;
    display: flex;
    top: 78%;
    left: 2.5%;
    transform: translateX(0%);
    width: 95%;
    height: 12%;
  }

  .image-zoom-thumbnail {
    position: relative;
    display: block;
    width: 19%;
    height: 100%;
    object-fit: cover;
    animation: 1s image-zoom-thumbnail;
    margin: 0.5%;
    filter: opacity(1);
    transition: 1s;
  }

  .image:nth-child(2n):hover, .image:nth-child(2n-1):hover{
    outline: 0;
  }

  .image-zoom-thumbnail:hover {
    outline: 0;
  }

}
